.login{
    form{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;

        input{
            width: 300px;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 0.8rem;
        }
    }
}

.message{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 15px;

    p{
        font-size: 0.8rem;
    }

    a{
        color:rgb(239, 94, 94);
        margin-left: 10px;
        cursor: pointer;
        font-size: 0.8rem;
    }

}